In [14]:
# Importing Usesful Liberies
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Question 1

In [10]:
# create a list with the elements of A and B in a single dimension with output
# A_B =  [1,2,3,4,5,6,13, 21, 34]

A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
print(A)

#It going to be none of the above only If A can extend B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

# Question 2

In [16]:
#How do you create an identity matrix in python?

np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# Question 3

In [19]:
#Saving the URL
url='https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

In [20]:
fuel_data=pd.read_csv(url,error_bad_lines=False)

In [21]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [30]:
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [32]:
print("The energy per unit (Fuel_mmbtu_per_unit) has a standard deviation of",round(fuel_data['fuel_mmbtu_per_unit'].describe().loc['std'],3),"And the 75th percentile is",round(fuel_data['fuel_mmbtu_per_unit'].describe().loc['75%'],2))

The energy per unit (Fuel_mmbtu_per_unit) has a standard deviation of 10.6 And the 75th percentile is 17.01

# Question 4

In [33]:
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [34]:
fuel_data['fuel_qty_burned'].kurtosis()

651.3694501337732

In [35]:
print('The skewness and kurtosis for the fuel quantity burned is',round(fuel_data['fuel_qty_burned'].skew(),2),'and',round(fuel_data['fuel_qty_burned'].kurtosis(),2))

The skewness and kurtosis for the fuel quantity burned is 15.85 and 651.37

# Question 5

In [37]:
#To check for missing Values
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [38]:
# Finding the pecentage of the missing values
fuel_data.isnull().sum() / fuel_data.count() * 100

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.613434
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

In [47]:
# To find percentage of values missing in fuel unit
(fuel_data.isnull().sum() / fuel_data.count() * 100).loc['fuel_unit']

0.6134342091810653

In [49]:
print('Feature: fuel_unit, Total: 180, Percent: 0.61')

Feature:  fuel_unit, Total: 180, Percent: 0.61

# Question 6

In [41]:
# Get the sum of fuel cost per unit burned in relation to the report year and the fuel type code
data2 = fuel_data.groupby(['report_year', 'fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()
data2

report_year  fuel_type_code_pudl
1994         coal                    14984.572
             gas                     10792.496
             nuclear                227983.354
             oil                      9362.194
             other                     116.737
                                       ...
2018         coal                     9488.197
             gas                      4322.494
             nuclear                173267.161
             oil                     33836.602
             waste                     660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64

In [42]:
#To find the fuel cost per unit burned in 1994
data_1994=data2.loc[[1994],'coal'].iloc[0]
data_1994

14984.572000000011

In [43]:
#To find the fuel cost per unit burned in 1998

data_1998=data2.loc[[1998],'coal'].iloc[0]
data_1998

11902.597000000012

In [46]:
print('The percentage change is',round(((data_1998-data_1994)/data_1994)*100),'%')

The percentage change is -21.0 %

# Question 7

In [50]:
# The year with the highest average fuel cost per unit delivered
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)[:1]

report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64

In [57]:
print('The Year with the highest averrage fuel cost per unit delivered is 1997')

The Year with the highest averrage fuel cost per unit delivered is 1997

# Question 8

In [62]:
# find out the type of fuel type which had the lowest average fuel cost per unit burned
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

In [63]:
print("From above, Gas had the lowest average cost per unit burned")

From above, Gas had the lowest average cost per unit burned